#container{
    display: grid;
    grid-template-columns: repeat(8, auto);
   	justify-content: left;
    grid-gap: 3px;
    width: 80%;
    padding: 3px;
}

#total {
    background-color: #98ec94;
	width: 100px;
    padding: 5px;
}

input{
	width: 120px;
}
.number{
	width: 40px;
}