body{
    color: navy;
    zoom: 200%;
}
main{
    background-color: rgb(191, 219, 191);
    border: darkgreen solid 1px;
    padding: 20px;
    margin: auto;
    width: 70%;
}
form{
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 20px;
}
label{
    justify-self: right;
}
#escolaridadeRadio{
    color: #000;
}
button{
    margin-top: 10px;
}